<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kenny.alarmservice"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".service.UploadPOIService" >
            <intent-filter>
                <action android:name="com.coder80.timer.service.UploadPOIService" />
            </intent-filter>
        </service>
        <receiver
            android:name=".receiver.BootBroadcastReceiver"
            android:exported="false" >
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <activity android:name=".MessageActivity"/>
    </application>

</manifest>